# Ignore everything
*
!*/

# Unignore the specific subdirectories that contain public files
!/Week-1/Intro/**
!/Week-2/Optimization/**
!/Week-3/Project-Management/**
!/Week-4/Forecasting/**
!/Week-5/Inventory/**
!/Week-6/Process-Management/**
!/Week-7/Queuing/**
!/Week-8/Quality-Management/**
!/Week-9/Supply-Chain-Management/**
!/.gitignore
