!/README.md
!/MGT207_Syllabus.pdf
!/Syllabus-Slides.pdf
# Ignore everything
*
!*/
!/.gitignore

!/Week-1/Intro/
!/Week-2/Optimization/
!/Week-3/Project-Management/
!/Week-4/Forecasting/
!/Week-5/Inventory/
!/Week-6/Process-Management/
!/Week-7/Queuing/
!/Week-8/Quality-Management/
!/Week-9/Supply-Chain-Management/

# Ignore all files in the topic directories by default
/Week-1/Intro/*
/Week-2/Optimization/*
/Week-3/Project-Management/*
/Week-4/Forecasting/*
/Week-5/Inventory/*
/Week-6/Process-Management/*
/Week-7/Queuing/*
/Week-8/Quality-Management/*
/Week-9/Supply-Chain-Management/*

# Unignore specific extensions in the topic directories
!/Week-1/Intro/*.pdf
!/Week-1/Intro/*.pptx
!/Week-1/Intro/*.ppt
!/Week-1/Intro/*.xlsx
!/Week-1/Intro/*.xls
!/Week-1/Intro/*.docx
!/Week-1/Intro/*.doc
!/Week-1/Intro/*.ipynb
!/Week-2/Optimization/*.pdf
!/Week-2/Optimization/*.pptx
!/Week-2/Optimization/*.ppt
!/Week-2/Optimization/*.xlsx
!/Week-2/Optimization/*.xls
!/Week-2/Optimization/*.docx
!/Week-2/Optimization/*.doc
!/Week-2/Optimization/*.ipynb
!/Week-3/Project-Management/*.pdf
!/Week-3/Project-Management/*.pptx
!/Week-3/Project-Management/*.ppt
!/Week-3/Project-Management/*.xlsx
!/Week-3/Project-Management/*.xls
!/Week-3/Project-Management/*.docx
!/Week-3/Project-Management/*.doc
!/Week-3/Project-Management/*.ipynb
!/Week-4/Forecasting/*.pdf
!/Week-4/Forecasting/*.pptx
!/Week-4/Forecasting/*.ppt
!/Week-4/Forecasting/*.xlsx
!/Week-4/Forecasting/*.xls
!/Week-4/Forecasting/*.docx
!/Week-4/Forecasting/*.doc
!/Week-4/Forecasting/*.ipynb
!/Week-5/Inventory/*.pdf
!/Week-5/Inventory/*.pptx
!/Week-5/Inventory/*.ppt
!/Week-5/Inventory/*.xlsx
!/Week-5/Inventory/*.xls
!/Week-5/Inventory/*.docx
!/Week-5/Inventory/*.doc
!/Week-5/Inventory/*.ipynb
!/Week-6/Process-Management/*.pdf
!/Week-6/Process-Management/*.pptx
!/Week-6/Process-Management/*.ppt
!/Week-6/Process-Management/*.xlsx
!/Week-6/Process-Management/*.xls
!/Week-6/Process-Management/*.docx
!/Week-6/Process-Management/*.doc
!/Week-6/Process-Management/*.ipynb
!/Week-7/Queuing/*.pdf
!/Week-7/Queuing/*.pptx
!/Week-7/Queuing/*.ppt
!/Week-7/Queuing/*.xlsx
!/Week-7/Queuing/*.xls
!/Week-7/Queuing/*.docx
!/Week-7/Queuing/*.doc
!/Week-7/Queuing/*.ipynb
!/Week-8/Quality-Management/*.pdf
!/Week-8/Quality-Management/*.pptx
!/Week-8/Quality-Management/*.ppt
!/Week-8/Quality-Management/*.xlsx
!/Week-8/Quality-Management/*.xls
!/Week-8/Quality-Management/*.docx
!/Week-8/Quality-Management/*.doc
!/Week-8/Quality-Management/*.ipynb
!/Week-9/Supply-Chain-Management/*.pdf
!/Week-9/Supply-Chain-Management/*.pptx
!/Week-9/Supply-Chain-Management/*.ppt
!/Week-9/Supply-Chain-Management/*.xlsx
!/Week-9/Supply-Chain-Management/*.xls
!/Week-9/Supply-Chain-Management/*.docx
!/Week-9/Supply-Chain-Management/*.doc
!/Week-9/Supply-Chain-Management/*.ipynb
